# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/
*.log

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# AWS
.aws-sam/

# Misc
chaos-tool
e2e-tests
.DS_Store